.App {
  height: 100%;
  width: 100%;
  font-family: "Raleway";
}

header {
  background-color: #759eda;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.input-country {
  background-color: #759eda;
  color: #fff;
  outline: none;
  padding: .8% ;
  border: none;

 
}

.searchbtn {
  background-color: #5879c7;
  padding: 0.5em 1em;
  border: none;
  color: #000;
}
.main-body{
  background-color: #9ccef4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-main{
margin-top: 4%;



  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  
  
  
}
.main-img{
  height: 15vw;
  width: 15vw;
}

.weather-main__type{
  color: white;
  font-weight: bold;
}
.weather-main__details{
 
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 12vw;
}
.weather-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.weather-list__items{
  text-align: center;
  margin: 1vw;
  width: 6vw;
 
}
.list-img{
  height: 6vw;
  width: 6vw;
}




body {
  background-color: #9ccef4;
  margin:0px;
}

